<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header> <h2>Oggetti Prestati</h2></ion-list-header>
    <ion-item-group *ngIf="oggetti">
      <ion-item *ngFor="let oggetto of oggetti">
         <h1>{{oggetto.nome}}</h1>
         <p>prestato a:  {{oggetto.idUser}} <span>, in data: {{oggetto.data}}</span></p>
         
         <div class="buttons">
            <button ion-button color="success" *ngIf="oggetto.stato === false">  <ion-icon name="checkmark-circle"></ion-icon></button>
            <button ion-button color="danger" *ngIf="oggetto.stato === true">  <ion-icon name="close-circle"></ion-icon></button>     
         </div>
      </ion-item>
      
    </ion-item-group>
  </ion-list>
 
 </ion-content>
