<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="vaiAllaFormPage()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="oggetti">
    <ion-list-header><h2>Oggetti Prestati</h2></ion-list-header>
      <ion-item-sliding *ngFor="let oggetto of oggetti"  #item>
          <ion-item>
              <h1>{{oggetto.nome}}</h1>
              <p>prestato a: {{getUser(oggetto.idUser)}}, in data: {{oggetto.data}}</p>
          </ion-item>
        <ion-item-options side="left">
          <button ion-button >Modifica</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
 </ion-content>
